<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="juan.yu">
    <!-- Open Graph Data -->
    <meta property="og:title" content="余娟"/>
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="余娟"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://yujuangithub.github.ioundefined"/>

    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="bookmark" href="/images/favicon.ico" title="余娟" type="image/x-icon">
    <title>余娟</title>
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
  </head>

  <body>  
  
    <!-- NAV -->
    <nav class="main-nav">
        <a href="/"> <span class="arrow"></span> Home </a>
      
        <!-- <a href="/notes.html">notes </a> -->

        <a href="/resume.html">Resume </a>

        <!-- <a href="/blog.html">Blog </a> -->

        <a href="/about.html"  class="cta">contact </a>

    </nav>
    <!-- NAV -->

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner" id="header">
          <a id="forkme_banner" href="https://github.com/yujuangithub">View on GitHub</a>
          <a href="/about.html">
                <img id="avatar" class="2x" src="images/yj.png">
          </a>
          <h1 id="project_title">Juan Yu</h1>
          <h2 id="project_tagline">穷极一生只为踏遍千山万水的前端客</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>this is notes</h3>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="small">© Copyright 2016 juan.yu</p>
      </footer>
    </div>

  </body>
  <script src="javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="javascripts/main.js" type="text/javascript"></script>
</html>
